<div *ngIf="todo" class="container">
  <div class="row" >
    Completed: <span>{{todo.checked}}</span>
  </div>
  <h2 class="row">{{todo.name}}</h2>
  <div class="row">
    <div class="col-md-2">
    <label >id:</label>
    </div>
    <div class="col-md-10">
    {{todo.id}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    <label>description:</label>
    </div>
    <div class="col-md-10">
    <input [(ngModel)]="todo.name" placeholder="Your Todo" />
    </div>
  </div>
  <button class="row" (click)="goBack()">Back</button>
</div>
